.player {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 0 #000000;
    padding: 0rem 4rem;
    border: 4px solid #000000;
    font-size: 1.2rem;
    border-radius: 1rem;
    position: relative;
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    grid-column: span 6 !important;
    grid-row: 1;
    text-wrap: nowrap;
}

.player-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
    position: absolute;
    box-shadow: 0px 5px 0 #000000;
    border: 3px solid #000000;
}

.player img {
    width: 100%;
    height: 100%;
}



@media (width >= 64rem) { 
    .player {
    padding: 1.5rem 1.5rem;
    height: 20%;
    font-size: 1.5rem;
    margin: auto 0px;
}
}

