.gameboard {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #ffffff;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    box-shadow: 0px 8px 0 #000000;
    border: 4px solid #000000;
    grid-column: span 10;
    gap: 0.4rem;
    margin-top: 30px;
    padding: 2rem 1rem
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.cell {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #7a45ff;
    box-shadow: inset 0px 4px 0 #000000;
    border: 3px solid #000000;
    cursor: pointer;
    transition: background-color 0.25s;
}

.cell.red,
.cell.yellow {
    box-shadow: inset 0px 4px 7px #403e3e;;
}

.cell.red{
    background-color: #ff0000;
}

.cell.yellow{
    background-color: #fcc770;
}


@media (width >= 64rem) {
    .gameboard { 
    grid-column: span 6;
    grid-row: 1;
    margin: 30px;
    }
}