header{
    padding: 2rem 0rem;
    margin: 0 auto;
    max-width: 1000px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    width: 100%;
}


@media (width >= 48rem) { 
    header{padding: 2rem 2rem;}
}