button{
    background-color: rgba(68, 23, 120, 0.8);
    border-radius: 999999px;
    padding: 0.5rem 1.2rem;
    text-transform: uppercase;
    width:200px;
    font-size: 1.2em;
}

@media (width >= 48rem) { 
   button{
    font-size: 1.4em;
   }
 }